@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-primary: #4272AF;
    --font-primary: 'Lexend', sans-serif;
}

@layer utilities {
    .hidden-animation {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.5s ease-in-out;
    }
    
    .show-animation {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #16161e;
        color: #16161e;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
        color: #ffffff;
    }
}